@model GFS.Models.Policies.Dependant

<div>
    <h4>@Model.fName @Model.lName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.coveredby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coveredby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dOb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dOb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policyPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policyPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policyNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deceased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deceased)
        </dd>
    </dl>
</div>
<p>
    <input type="button" value="Edit" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Edit", "Dependants", new { id = Model.depNo }) + "'");" />
    <input type="button" value="Declare as deceased" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("DeclareDeceased", "Deceased", new { id = Model.IdNo }) + "'");" />
</p>
